.navbar-brand{
    color: cornflowerblue;
    font-weight: 400;
}

.btn-outline-success{
    color: cornflowerblue;
    --bs-btn-color: cornflowerblue;
    --bs-btn-border-color: cornflowerblue;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: cornflowerblue;
    --bs-btn-hover-border-color: cornflowerblue;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: cornflowerblue;
    --bs-btn-active-border-color: cornflowerblue;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: cornflowerblue;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: cornflowerblue;
    --bs-gradient: none;
}

.me-2{
    color: cornflowerblue;
}

.col img{
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

h1{
    text-align: center;
    background-color: cornflowerblue;
}

.col p{
    background-color: rgb(36, 33, 33);
    color: white;
}

h2{
    text-align: center;
    background-color: cornflowerblue;
}

.carousel-inner img{
    width: 100%;
    height: 500px;
}

p{
    text-align: center;
    font-weight: 500;
}

h3{
    text-align: center;
}

h5{
    text-align: center;
}


body{
    font-family: 'Times New Roman', Times, serif;
}
