h1{
    color: blue;
    font-family: 'Montserrat';
    text-align: center;
    background-color: aqua;
    border: 13px double black;
}

h2{
    color: aqua;
    font-family: 'Montserrat';
    background-color: black;
    border: 2px dotted rgb(11, 44, 190);
    box-shadow: 0 0 20px #0c0c0c;
    border-radius: 5px;
}

.Edad{
    width: 80px;
}

.Domicilio{
    width: 165px;
}

.Las-series-que-me-gustan{
    width: 415px;
}

.Las-peliculas-que-me-gustan-son{
    width: 455px;
}

.Perfil{
    width: 160px;
}

h3{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

.Textos-en-negrita{
    font-weight: bold;
}

.Texto-sobre-mi{
   background-color: aqua;
   border: 20px ridge black;
   box-shadow: 0 0 35px #0c0c0c;
   column-count: 2;
   column-gap: 5px;
   border-radius: 10px;
   font-family: 'Montserrat';
}
