h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: aqua;
    border: 13px double black;
}

h2{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border: 2px dotted rgb(11, 44, 190);
}

.Edad{
    width: 70px;
}

.Domicilio{
    width: 120px;
}

.Las-series-que-me-gustan{
    width: 360px;
}

.Las-peliculas-que-me-gustan-son{
    width: 390px;
}

.Perfil{
    width: 120px;
}

h3{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

.Textos-en-negrita{
    font-weight: bold;
}

.Texto-sobre-mi{
   background-color: aqua;
   border: 20px ridge black;
}