.contenedor{
    background-color: white;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    display: flex;
    width: 1300px;
    height: 200px;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caja1{
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.caja2{
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.caja3{
    display: flex;
    background-color: green;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}