body{
    background-color: cadetblue;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 40px;
}

.contenedor{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: row;
}

.caja1{
    display: flex;
    background-color: chocolate;
    color: white;
    width: 300px;
    height: 150px;
    position: relative;
    transition: all 0.5 linear;
}

.caja1 li{
    position: relative;
    left: 50px;
    top: 25px;
}

.caja1:hover{
    background-color: orange;
}

.caja2{
    display: flex;
    background-color: beige;
    flex-direction: column;
    width: 800px;
    height: 250px;
    transition: all 0.5s linear;
}
.caja2:hover{
    transform: scale(0.9);
}

.caja2 h2{
    font-size: 35px;
}

.caja3{
    display: flex;
    background-color: darkgrey;
    flex-direction: column;
    width: 500px;
    height: 580px;
    position: relative;
    transition: all 0.5s ease;
}

.caja3 h2{
    font-size: 35px;
}

.caja3:hover{
    opacity: 0.7;
}

@media (max-width: 768px){
    .contenedor{
        flex-direction: column;
        align-items: center;
    }

    .caja1{
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .caja1 li{
        position: relative;
        top: 3px;
    }

    .caja2{
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .caja2 h2{
        font-size: 23px;
    }

    .caja3{
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .caja3 h2{
        font-size: 23px;
    }

    h1{
        font-size: 28px;
        text-align: left;
    }

}