.contenedor{
    background-color: white;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    display: flex;
    align-items: end;
    width: 600px;
    height: 600px; 
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caja1{
    background-color: red;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja2{
    background-color: blue;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja3{
     background-color: green;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
